
@helper NewLineAndComments_Tmpl(int number) 
{
	// on the other hand most C# code can be used directly as javascript ?

	<h1>@number</h1>	
	
	@*
		 Change css so if no href it is active ... ? but it needs to update every time you click ?
	*@
}
